<li id="app-<%= app.id %>">
  <%= link_to gravatar_for(app.user, size: 50), app.user %>
  <span class="name"><%= link_to app.name, "#" %></span>
  <span class="description"><%= app.description %></span><br>
  <span class="period">開発日数：<%= app.period %>日　</span>
  <span class="point">ポイント：<%= app.point %></span><br>
  <span class="reference"><%= link_to "アプリURL", app.reference, target: :_blank %></span>
  <span class="timestamp">
    <%= time_ago_in_words(app.created_at) %>前に投稿
  </span>
</li>
