<li id="app-<%= app.id %>">
  <%= link_to gravatar_for(app.user, size: 50), app.user %>
  <span class="name"><%= link_to app.name, app_path(app) %></span>
  <span>
    <%= link_to((image_tag app.picture.thumb200.url), app_path(app.id), class: 'app-picture') if app.picture.url.present? %>
  </span>
  <% @app = app %>
  <%= render 'users/favorite_form' %>
  <span class="description"><%= app.description %></span><br>
  <span class="times">開発ログ：<%= app.logs.count %>更新　</span>
  <span class="period">開発日数：<%= app.period %>日　</span>
  <span class="point">ポイント：<%= app.point %></span><br>
  <span class="reference"><%= link_to "アプリURL", app.reference, target: :_blank %></span>
  <span class="timestamp">
    <%= time_ago_in_words(app.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == app.user) %>
    <%= link_to "削除", app_path(app), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
